<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="bank-nexus-nuget-proxy" value="https://nexus.bank.local/repository/nuget-group/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <bank-nexus-nuget-proxy>
      <add key="Username" value="%NUGET_USERNAME%" />
      <add key="ClearTextPassword" value="%NUGET_PASSWORD%" />
    </bank-nexus-nuget-proxy>
  </packageSourceCredentials>
</configuration>
